/* Validation page */


.container{
     margin-top: 120px;
     width: 575px;
     background-color:rgb(231 231 231);
     padding: 22px;
     border: 1px solid rgb(177, 177, 177);
     border-radius: 12px;
}

/* Teams view */

#fullview{
     width: 100%;
   
}

#upper{
     width: 50%;
     background-color: antiquewhite;
}
#lower{
     width: 50%;
     background-color: aqua;
}